body {
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
	background-image: url(../img/header.png);
	background-attachment: fixed;
	background-repeat:repeat;
}

/* ===========================
--- Text ---
============================ */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-family:'Roboto';
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 1.6em;
	font-family:'Roboto';
}

p.lead {
	font-weight: 600;
}

a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


/* ===========================
--- Hover
============================ */
a:hover,
a:focus {
    text-decoration: none;
    color: #176e61;
}




/* ===========================
--- Color
============================ */
.bg-gray{
	background-color:#F8F8F8;
}
.bg-2{
	background-color:#F3F4F8;
}
/* ===========================
--- Content Style
============================ */
.section-divider{
	padding-top:100px;
	padding-bottom:100px;
}
.section{
	width:95%;
	border-radius:20px;
	box-shadow: 0px 0px 50px 5px #333333;
	margin:0 auto;
}
.center{
	display: block;
    margin:auto;
	text-align:center;
}

.horizontal {
    display: flex;
    justify-content: center;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn{
	width:100px;
}
.slider-text{
	width:700px;
	margin:0 auto;
}
/* ===========================
--- scroll speed--
============================ */
.about{
	margin-top:-30px;
}
.services{
	margin-top:30px;

}
.portfolio{
	margin-top:30px;
	
}
.contact{
	margin-top:30px;
}
.location{
	margin-top:30px;
}
.footer{
	margin-top:5px;
}
.header{
	
}
/* ===========================
--- Navbar
============================ */

.navbar-default {
    background-color: #333333;
    border:none;
}
.nav-nav{
	margin-left:5%;
	margin-right:5%;
}

.navbar-brand img{
	width:50px;
}
.navbar-brand a{
    color: #fff;
	opacity:.7;
	text-decoration:none;
	
}
.navbar-brand a:hover{
    color: #fff;
	opacity:1;
}
.navbar-default .navbar-brand:hover{
    color: #ffffff;
	opacity:1;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
	opacity:.7;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #ffffff;
	opacity:1;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #fff;
	opacity:1;
    outline: none;
}

.navbar-default .navbar-nav > .active{
    color: white;
   background-color:rgba(255,255,255, 0.5);
   border-radius:5px;
 }
 
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus{
    color: #ffffff;
	opacity:1;
    background-color:rgba(0,0,0, 1);
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus {
	background-color: rgba(255, 255,255, 0.1);
    border-color: #fff;
}
.navbar-default .navbar-toggle:hover{
     background-color: rgba(0, 0, 0, 1);
}

.navbar-default .navbar-collapse {
    border-color: rgba(0,0,0, .8);
}

.navbar-default .navbar-collapse li a{
	text-align:center;
}
@media (min-width: 768px) {
.navbar-default {
    background:transparent;
    padding: 20px 0;
    -webkit-transition: padding 0.5s;
    -moz-transition: padding 0.5s;
    transition: padding 0.5s;
    border: none;
}
.navbar-brand img{
	width:2em;
}
.navbar-default .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.navbar-default .navbar-nav > .active > a {
    border-radius: 5px;
	background-color:none;
}
.navbar-default .navbar-nav > li > a {
    font-size: 1.3em;
}
 
}
@media (min-width: 768px) {
.navbar-default.affix {
    background:#333333;
    padding: 1px 0;
}
.navbar-default.affix .navbar-brand {
    font-size: 1.5em;
}
.navbar-brand img{
	width:2em;
}

  .navbar-default.affix .nav li a {
    font-size: 1em;
}
.navbar-default .navbar-nav > li > a {
    
}
}
/* ===========================
--- Header
============================ */
.header{
	background-image: url(../img/02.jpg);
	background-size:100% 100%;
	height:60%;
	box-shadow: 0px 0px 50px 5px #000000;
	border-radius:0px 0px 8px 8px;
	color:#fff;
	z-index:0;
}
.header-transparent{
	background:rgba(0,0,0, .3);
}
.form-group{
	margin-left:3%;
	margin-right:3%;
}

.slideshow {
  position: relative;
  padding-top: 50%;
  z-index:10;
  
}

.slideshow > div {
  position: absolute;
  top: 35%;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
.slider-txt h2{
	font-size:2em;
}
.slider-txt p{
	font-size:20px;
}
@media (max-width: 800px) {
	.header{
		height:500px;
	}
}
@media (max-width: 400px) {
	.btn-default{
		width:90px;
	}
}
/* ===========================
--- About
============================ */
.about{
	z-index:1000;
}

.boxed-grey {
	background: #eee;
	padding: 20px;
	border-radius:20px;
}
.section-heading p{
	padding:10px;
}
.team h5 {
	margin-bottom: 10px;
}

.team p.subtitle {
	margin-bottom: 10px;
}

.avatar {
	margin-bottom: 20px;
}

.team-social {
	margin-left: 0;
	padding-left: 0;
	
}

.team-social {
	text-align: center;
}

.team-social li{
    display: inline-block;
	margin:0 !important;
	padding:0;
}


.team-social a{
	margin:0;
	padding:0;
    display: block;
	width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
	color: #fff;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.team-social a i{
	text-align: center;
	margin:0;
	padding:0;
}




/* ===========================
--- Team Hover ---
============================ */

.ih-item img {
  width: 100%;
  height: 100%;
  transition: transform 1s;
}

.ih-item img:hover{
	transform: scale(1.5); 
	overflow:hidden;
}
.ih-item.square.effect3.bottom_to_top{
	width:100%;
	overflow:hidden;
	border-radius:20px;
}

.ih-item.square.effect3 .info {
	margin-top:-65px;
	height: 65px;
	background: rgba(0,0,0, .6);
	opacity: 0;
	border-radius:0 0 20px 20px;
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
.info .social {
	font-size:20px; 
	color:#fff; 
	padding:10px;
	border-radius:50%;
	margin:10px;
	height:40px;
	width:40px;
	opacity:0.8;
}
.info .social.fa-facebook {
	background:#3B5998;
}
.info .social.fa-twitter {
	background:#1DA1F2;
}
.info .social.fa-linkedin {
	background:#3B5998;
}
.info .social.fa:hover{
	opacity:1;
}
.ih-item.square.effect3 .info h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 17px;
  padding: 10px 10px 0 4px;
  margin: 4px 0 0 0;
}
.ih-item.square.effect3 .info p {
  font-style: italic;
  font-size: 12px;
  position: relative;
  color: #bbb;
  padding: 5px;
  text-align: center;
}
.ih-item.square.effect3:hover .info {
  visibility: visible;
  opacity: 1;
  
}

.ih-item.square.effect3.bottom_to_top .info {
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
}

.ih-item.square.effect3.bottom_to_top:hover .info {
	margin-top:-65px;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

/* ===========================
--- Service ---
============================ */

.services{
	z-index:51;
}
.sub-title
{
    font-size: 20px;
}

.bottom-line
{
    margin-top: 20px;
    margin-bottom: 40px;
    border: 0;
    border-top: 0px;
    height: 3px;
    width: 40px;
    background-color: #BE9E21;
}
.pad-bt15 {
    padding-bottom: 15px;
}
.service-item h3 span
{
    opacity: 0.7;
    font-size: 75px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: -5px;
    font-weight: 900;
    padding-right: 6px;
}
.service-item h3
{
    font-weight: 700;
}
.service-item p
{
    opacity: 0.6;
    color: inherit;
    padding: 10px 0px;
}
.service-item a
{
    color: #be9e21;
}




/* ===========================
--- Gallary ---
============================ */
.gallary{
	z-index:52;
}
.item {
  overflow: hidden;
  position: relative;
}
.item img{
	transition: transform 1s;
}
.item img:hover{
	transform: scale(1.6);
}
.item.colored .info {
  background: rgba(12, 34, 52, 0.6);
}
.item .info {
  background: rgba(0,0,0, .7);
  height: 0;
  visibility: hidden;
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  -o-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: all 0.35s ease-in-out 0.35s;
  -moz-transition: all 0.35s ease-in-out 0.35s;
  transition: all 0.35s ease-in-out 0.35s;
}
.item .info h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  background: transparent;
  margin-top: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out 0.35s;
  -moz-transition: all 0.35s ease-in-out 0.35s;
  transition: all 0.35s ease-in-out 0.35s;
}
.item .info p {
  font-style: italic;
  font-size: 12px;
  position: relative;
  color: #bbb;
  padding: 20px 20px 20px;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out 0.35s;
  -moz-transition: all 0.35s ease-in-out 0.35s;
  transition: all 0.35s ease-in-out 0.35s;
}
.item a:hover .info {
  height: 310px;
  margin-top:-310px;
  visibility: visible;
  -webkit-transform: rotate(0deg) translate(0, 0);
  -moz-transform: rotate(0deg) translate(0, 0);
  -ms-transform: rotate(0deg) translate(0, 0);
  -o-transform: rotate(0deg) translate(0, 0);
  transform: rotate(0deg) translate(0, 0);
}
.item a:hover .info h3,
.item a:hover .info p {
  opacity: 1;
}
.info-text{
	padding-top:100px;
}


/* ===========================
--- Contact ---
============================ */

.contact {
	z-index:53;
}

.contact .input-group {
    
    margin-bottom: 25px;
}

.textinput{
    border-radius: 0 !important;
	width:100%;
}
.row form{
	padding:50px;
}
.contact span {
    
    border-radius: 0 !important;
}

.contact .btn {
    
    border-radius: 0;
    width: 100%;
    font-size: 15px;
    background-color: #f08080;
    color: #fff;
}

.contact .btn:hover {
    
    background-color: #a85959 !important;
    color: #fff !important;
}



/* ===========================
--- Location ---
============================ */
.location .row p{
	margin-bottom:50px;
}
.info li{
	float:left;
	display:block;
	overflow:hidden;
	list-style:none;
	padding-left:10px;
	padding-right:10px;
}
.rumap img{
	height:300px;
}
/* ===========================
--- Footer ---
============================ */

.footer_copyright {
    font-size: 16px;
    margin-bottom: 0;
	padding-top:50px;
	padding-bottom:20px;
}
.footer_copyright a {
    color: #e43c5c;

}








